VITE_SUPABASE_URL=https://itqibdbucdcdattolzkj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0cWliZGJ1Y2RjZGF0dG9semtqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwMDA1NjQsImV4cCI6MjA5NzU3NjU2NH0.oTdcLLGSdbmVimQtgSBPlA1z-txMqgiLqtukcgaTGmo
